<section class="container">
  <h1>Pluck</h1>
  <div class="flex">
    <div class="box">
      <h2>Example 1</h2>
      <hr />
      <p class="inner">
        <strong>Pluck :</strong>
        by property
      </p>
      <table>
        <tr>
          <th>Title</th>
        </tr>
        <tr *ngFor="let item of titleData">
          <td>{{ item }}</td>
        </tr>
      </table>
    </div>
    <div class="box">
      <h2>Example 2</h2>
      <hr />
      <p class="inner">
        <strong>Pluck data =></strong>
        by nested property
      </p>
      <table>
        <tr>
          <th>Hair Color</th>
        </tr>
        <tr *ngFor="let item of haircolor">
          <td>{{ item }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
