<section class="container">
  <h1>Map</h1>
  <div class="flex">
    <div class="box">
      <h2>Example 1</h2>
      <hr />
      <p class="inner">
        <strong>Map :</strong>
        "Vedio" + data
      </p>

      <p style="margin-top: 24px">
        Message: <strong style="color: green">{{ msg1 }}</strong>
      </p>
    </div>
    <div class="box">
      <h2>Example 2</h2>
      <hr />
      <p class="inner">
        <strong>Map data =></strong>
        data*3
      </p>
      <p style="margin-top: 24px">
        Message: <strong style="color: green">{{ msg2 }}</strong>
      </p>
    </div>
    <div class="box">
      <h2>Example 3</h2>
      <hr />
      <ul class="techlist" id="elContainer" style="margin-top: 24px"></ul>
    </div>
  </div>
</section>
