<section class="container">
  <h1>Take TakeLast TakeUntil</h1>
  <hr style="margin-top: 32px" />
  <p class="inner" style="margin: 32px 0">
    <strong>Random Names</strong>
    "Anup", 'Shekhar', 'Sharma', 'Hello', 'John', 'Alex','Robert'
  </p>
  <div class="flex">
    <div class="box">
      <h2>Ex - 1 | Take(5)</h2>
      <hr />
      <ul class="techlist" id="elContainer" style="margin-top: 24px"></ul>
    </div>
    <div class="box">
      <h2>Ex - 2 | TakeLast(5)</h2>
      <hr />
      <ul class="techlist" id="elContainer2" style="margin-top: 24px"></ul>
    </div>
    <div class="box">
      <h2>Ex - 3 | TakeUntil(condition)</h2>
      <hr />
      <ul class="techlist" id="elContainer3" style="margin-top: 24px"></ul>
    </div>
  </div>
</section>
