h1 {
  color: black;
  font-weight: bold;
}
.container {
  margin: 40px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}
.example-cards {
  flex-basis: 400px;
  padding: 0px;
  padding-bottom: 16px;
  margin-right: 20px;
  mat-card-header {
    padding-top: 20px;
  }
  mat-card-actions {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
  }
}
.example-card {
  flex-basis: 600px;
  padding: 0px;
  padding-bottom: 16px;
  margin-right: 20px;
  mat-card-header {
    padding-top: 20px;
  }
  mat-card-actions {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
  }
}
