<section class="container">
  <div class="flex">
    <div class="example-cards">
      <h1>of</h1>
      <ul role="list" class="techlist" id="elContainer">
        <!-- <li>a: {{ objMsg.a }}</li>
        <li>b: {{ objMsg.b }}</li>
        <li>c: {{ objMsg.c }}</li> -->
      </ul>
    </div>
    <div class="example-card">
      <h1>from</h1>
      <div class="flex">
        <div class="example-cards">
          <h3>Array to Observable</h3>
          <ul role="list" class="techlist" id="arrayContainer"></ul>
        </div>
        <div class="example-cards">
          <h3>Promise to Observable</h3>
          <ul role="list" class="techlist" id="promiseContainer"></ul>
        </div>
        <div class="example-cards">
          <h3>String to Observable</h3>
          <ul role="list" class="techlist" id="stringContainer"></ul>
        </div>
        <div class="example-cards">
          <h3>Object to Observable</h3>
          <ul role="list" class="techlist" id="objectContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</section>
