<section class="container">
  <h1>Debouncetime & DistinctUntilChanged</h1>
  <div class="flex">
    <div class="box">
      <h2>Ex- 01 | debouncetime</h2>
      <hr />
      <mat-form-field appearance="outline">
        <input matInput placeholder="Search" #search />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="box">
      <h2>Ex- 02 | distinctUntilChanged</h2>
      <hr />
      <mat-form-field appearance="outline">
        <input matInput placeholder="Search" #search2 />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</section>
