mat-grid-tile {
  background: rgb(231, 240, 243);
  color: #919fa9;
  cursor: pointer;
  border: 1px solid #477598;
  border-radius: 0.5rem;
  &:hover {
    background: #e3f2fd;
    color: #477598;
    box-shadow: 0 0 60px #b3cada inset;
    text-decoration: none;
  }
}
h2 {
  font-size: 1.5rem;
}
